
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #2A82D1;
}
main {
    display:block;
    width: 95%;
    margin: 0 auto;
    padding: 1em;
    background: #cfca2e;
    border: 4px solid #8ebec0;
}

#profile_pic {
    max-width: 296px;
}

/************ For Messages ***************/
.message-list {
    max-height: 400px;
    overflow-y: auto;
}
.message-item {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.message-item:hover {
    background-color: #f8f9fa;
}
.message-item strong {
    display: block;
}

@media only screen and (max-width: 834px) {
    main {
    width: 100%;
    padding: .5em;
    border: 4px solid #8ebec0;
    }
}

@media only screen and (max-width: 576px) {
    #center_image {
        text-align: center;
    }
    #message_button {
        width:99%;
        margin: auto;
    }
}

@media only screen and (max-width: 484px) {
    main {
        padding: .2em;
    }
}

/*
header h1 {
    text-align: center;
}
#header{
    background-color: #faffc1;
    padding: 14px 70px;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0c0c0c;
    justify-content: center;
}
li {
    float: left;
    width: 20%;
}
 li a {
    font-size: 110%;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 45px;
    text-decoration: none;
}
li a:hover {
    background-color: #292828;
}
*/